@import "@popsure/dirty-swan/dist/font-weight";
@import "@popsure/dirty-swan/dist/colors";

/* Navbar */

.navbar {
  background-color: $ds-white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar-cont {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
  }

  button::before {
    content: "";
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 1.5em;
    width: 10%;
    height: 0.3em;
    border-radius: 20px;
    background-color: $ds-primary-500;
  }

  button:hover {
    color: $ds-primary-500;
  }

  button:hover::before {
    opacity: 1;
  }
}

.logo-cont {
  width: 9rem;
}

.logo-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .navbar-cont {
    width: 90%;
  }

  .logo-desktop {
    display: none;
  }

  .logo-cont {
    width: 2rem;
  }

  .logo-mobile {
    display: inline-block;
  }
}

/* Glossary */

.glossary-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0 0;
}

@media (max-width: 1000px) {
  .header-content-cont {
    gap: 1.5rem;
  }
}

/* Header */

.header-cont {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.header-content-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.header-img {
  width: 40%;
  height: fit-content;
  border-radius: 20px;
}

/* Search */

.search-macro-cont {
  width: 100%;
  margin: 0 auto;
}

.input-cont {
  display: flex;
  justify-content: stretch;
  gap: 0.5rem;
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }
}

.search-input {
  padding-right: 0.5rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0.7em;
  width: 0.7em;
  background: url("./assets/delete.png") no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

.suggestion-buttn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: $ds-primary-500;
}

.suggestion-buttn:hover {
  color: $ds-primary-700;
}

.suggestion-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

form {
  width: 70% !important;
}

.autocomplete-cont {
  position: absolute;
  top: 55px;
  width: 70%;

  li {
    appearance: none;
    display: block;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    width: 100%;
    border-left: 1px solid $ds-primary-500;
    border-right: 1px solid $ds-primary-500;
    background-color: $ds-white;
    color: #26262e;

    button {
      background: none;
      border: none;
      padding-left: 16px;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      height: 100%;
      width: 100%;
      text-align: left;
    }
  }

  li:hover {
    background-color: $ds-primary-100;
  }

  li:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: 1px solid $ds-primary-500;
  }

  li:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 1px solid $ds-primary-500;
  }
}

.error {
  font-style: italic;
}

.error-cont {
  height: 1.5rem;
  margin: 2rem auto 0;
}

@media (max-width: 1400px) {
  .header-cont {
    width: 80%;
  }

  .header-content-cont {
    width: 50%;
    h1 {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 1100px) {
  .header-cont {
    width: 90%;
  }

  .header-content-cont {
    width: 50%;
    gap: 1.5rem;
  }
}

@media (max-width: 840px) {
  .header-cont {
    width: 80%;
  }

  .header-content-cont {
    width: 100%;
    text-align: center;
  }

  .input-cont {
    width: 100%;
  }

  form {
    max-width: 90% !important;
  }

  .header-img {
    display: none;
  }

  .suggestion-cont {
    gap: 0.3rem;
  }
}

/* Buttons */

.bttn-cont {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.letter-bttn {
  background-color: $ds-primary-500;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s opacity, 0.5s background-color;
}

.letter-bttn:hover {
  background-color: $ds-primary-700;
}

.letter-bttn > button {
  background: none;
  border: none;
  font: inherit;
  outline: inherit;
  height: 100%;
  width: 100%;
  color: $ds-primary-25;
  cursor: pointer;
}

.disabled-bttn,
.disabled-bttn:hover {
  background-color: $ds-primary-100;
}

.disabled-bttn > button {
  cursor: default;
}

@media (max-width: 1000px) {
  .bttn-cont {
    margin: 1.5rem auto;
  }

  .error-cont {
    margin: 1rem auto 0;
  }
}

/* Breakdown */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-cont {
  width: 100%;
}

.breakdown-cont {
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: $ds-white;
  padding: 1rem;
  margin-bottom: 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.back-button {
  margin: 1rem auto 0;
}

.breakdown-def {
  margin-bottom: 1.3rem;
}

.breakdown-def:last-child {
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .breakdown-cont {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .breakdown-cont {
    width: 90%;
    padding: 1rem;
  }
}

/* CTA */

.cta-cont {
  background-color: $ds-white;
  width: 100%;
  padding: 4rem 0;
  margin-top: 3rem;
}

.cta-inner-cont {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.cta-img {
  width: 40%;
  display: flex;
  justify-content: flex-end;

  img {
    width: 90%;
    border-radius: 20px;
  }
}

.cta-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  a {
    min-width: 30%;
  }
}

.show-line {
  height: 4px;
  background-color: $ds-primary-500;
  margin-top: 0.5rem;
}

@media (max-width: 1400px) {
  .cta-inner-cont {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .cta-inner-cont {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .cta-inner-cont {
    flex-direction: column-reverse;
    gap: 2.5rem;
    align-items: center;
  }

  .cta-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .cta-img {
    width: 90%;
    display: flex;
    justify-content: flex-end;

    img {
      width: 80%;
    }
  }
}

/* FOOTER */

footer {
  background-color: $ds-primary-50;
  width: 100%;
  p {
    width: 70%;
    margin: 2rem auto;
    text-align: center;

    a {
      color: inherit;
      cursor: pointer;
    }
  }
}
